---
layout: default
title: RVKendo - Announcements
---
<section class="bg-dark">
  <div class="text-center">
    <h1>Announcements</h1>
  </div>
</section>

<section id="announcements">
  <div class="container">
    <div class="row">
      <div>
        <a href="{% post_url 2016-03-11-federation-registrations %}">
          <div class="bg-primary text-center">
            <h2>Please register with the Federations</h2>
            <p><u>Read the post with the registration information</u></p>
            <h3>DEADLINE: March 11, 2016</h3>
          </div>
        </a>
      </div>
      <div class="col-lg-3 text-center panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Upcoming</h3>
        </div>
        <div class="panel-body text-left">
          <ul>
             {% assign posts = site.posts | sort: 'date' %}
             {% for post in posts %}
               {% if post.categories contains 'upcoming' %}
               <li>
                 <h4>
                   {{ post.date | date: "%d %B %Y" }} -
                   <a href="{{ post.url }}">{{ post.title }}</a>
                 </h4>
               </li>
               {% endif %}
             {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col-lg-5 text-center">
        <h2>Posts</h2>
        <hr class="primary">
        <ul class="text-left" style="list-style-position: outside">
           {% for post in site.posts %}
             <li>
               <h5>
                 {{ post.date | date: "%d %B %Y" }} -
                 <a href="{{ post.url }}">{{ post.title }}</a>
               </h5>
             </li>
           {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
