---
layout: default
title: RVKendo - Announcements
---
<section class="bg-dark">
  <div class="text-center">
    <h1>Announcements</h1>
  </div>
</section>

<section id="announcements">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 text-center panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Upcoming</h3>
        </div>
        <div class="panel-body text-left">
          <ul>
             {% assign posts = site.posts | sort: 'date' %}
             {% for post in posts %}
               {% if post.categories contains 'upcoming' %}
               <li>
                 <h4>
                   {{ post.date | date: "%d %B %Y" }} -
                   <a href="{{ post.url }}">{{ post.title }}</a>
                 </h4>
               </li>
               {% endif %}
             {% endfor %}
          </ul>
        </div>

        <div class="panel-heading">
          <h3 class="panel-title">All</h3>
        </div>
        <div class="panel-body text-left">
          <ul class="text-left" style="list-style-position: outside">
             {% for post in site.posts %}
               <li>
                 <h5>
                   {{ post.date | date: "%d %B %Y" }} -
                   <a href="{{ post.url }}">{{ post.title }}</a>
                 </h5>
               </li>
             {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-lg-8">
        <iframe src="https://calendar.google.com/calendar/embed?showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ff9966&amp;src=raccoonvalleykendo%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FChicago" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
  </div>
</section>
