---
layout: default
title: RVKendo - Gallery
gallery:
  name: kendo
  path: 'img/gallery'
  thumb: '_thumb.jpg'
---

<section class="bg-dark">
  <div class="text-center">
    <h1>Pictures</h1>
  </div>
</section>

<section id="pictures">
    <div class="container">
        <div class="row">
          {% for image in site.static_files %}
            {% if image.path contains page.gallery.path %}
              {% unless image.path contains page.gallery.thumb %}
                <div class="col-lg-4 col-md-3 col-sm-2 thumb">
                  <a href="{{ site.baseurl }}{{ image.path }}" data-lightbox="{{ page.gallery.name }}">
                    <img src="{{ site.baseurl }}{{ image.path | replace:'.jpg', page.gallery.thumb }}" alt="image" />
                  </a>
                </div>
              {% endunless %}
            {% endif %}
          {% endfor %}
        </div>
    </div>
</section>
