---
layout: default
title: RVKendo - Gallery
---

<section class="bg-dark">
  <div class="text-center">
    <h1>Pictures</h1>
  </div>
</section>

<section id="pictures">
    <div class="container">
        <div class="row">
          {% for image in site.static_files %}
            {% if image.path contains 'img/gallery' %}
              {% unless image.path contains '_thumb' %}
                <div class="col-lg-4 col-md-3 col-sm-2 thumb">
                  <a href="{{ site.baseurl }}{{ image.path }}" data-lightbox="1" title="kendo">
                      <img src="{{ site.baseurl }}{{ image.path | replace:'.jpg', '_thumb.jpg'}}" alt="image" />
                  </a>
                </div>
              {% endunless %}
            {% endif %}
          {% endfor %}
        </div>
    </div>
</section>

