---
layout: default
---
{% include calendar.html %}

<section class="bg-dark">
  <div class="text-center">
    <h1>{{ page.title }}</h1>
    {% if page.subtitle %}
      <h2>{{ page.subtitle }}</h2>
    {% endif %}
    <h4>{{ page.date | date: "%d %B %Y" }}</h4>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="col-md-3">
      {% if page.calendar %}
        <script type="text/javascript">calendar({{ page.calendar.year }}, {{ page.calendar.month }}, [{% for day in page.calendar.days %}{{ day }}, {% endfor %}]);</script>
      {% else %}
        <script type="text/javascript">calendar({{ page.date | date: "%Y" }}, {{ page.date | date: "%m" }}, [{{ page.date | date: "%d" }}]);</script>
      {% endif %}
    </div>
    <div class="col-md-6 ">
      {{ content }}
      <a class="text-center" href="/announcements">back</a>
    </div>
  </div>
</section>
